{% extends "layouts/base.html" %} {% block title %} UI Tables {% endblock %} 
{% load utils %} {% load humanize %} {% load static %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'assets/css/credito_debito_styles.css' %}">
{% endblock stylesheets %}
{% block content %}

<!-- [ Main Content ] start -->
<section class="pcoded-main-container">
  <div class="pcoded-wrapper">
    <div class="pcoded-content">
      <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
          <div class="page-block">
            <div class="row align-items-center">
              <div class="col-md-12">
                <div class="page-header-title">
                  <h5 class="m-b-10">Credito & Debito</h5>
                </div>
                <ul class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="/"><i class="feather icon-home"></i></a>
                  </li>
                  <li class="breadcrumb-item"><a href="#!">Tabelas & Formularios</a></li>
                  <li class="breadcrumb-item">
                    <a href="javascript:">Credito & Debito</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
          <div class="page-wrapper">
            <!-- [ Main Content ] start -->
            <div class="row">
              <!-- [ Hover-table ] start -->
              <div class="col-xl-12">
                <div class="card">
                  <div class="card-header">
                    <h5>Tabela Credito</h5>
                    <form action="" method="post">
                      {% csrf_token %}
                      <p>
                        filtrar de
                        <input
                          type="date"
                          name="data-inicio"
                          id="data-inicio"
                        />
                        até
                        <input type="date" name="data-fim" id="data-fim" />
                        <button class="btn btn-primary">Filtrar</button>
                        <button
                          type="button"
                          name=""
                          id=""
                          class="btn btn-danger"
                        >
                          Limpar Filtro
                        </button>
                      </p>
                    </form>
                  </div>
                  <div class="card-block table-border-style">
                    <div class="table-responsive">
                      <table class="table table-hover" id="table-comissoes">
                        <thead>
                          <tr>
                            <th>id Vendedor</th>
                            <th>Nome Vendedor</th>
                            <th>Recebedor</th>
                            <th>Parcelas</th>
                            <th>Pagador</th>
                          </tr>
                        </thead>
                        <tbody>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                {% comment %} OUTRA TABELA {% endcomment %}
                <div class="card">
                  <div class="card-header">
                    <h5>Tabela Debito & Credito</h5>
                    <form action="" method="post">
                      {% csrf_token %}
                      <p>
                        filtrar de
                        <input
                          type="date"
                          name="data-inicio"
                          id="data-inicio"
                        />
                        até
                        <input type="date" name="data-fim" id="data-fim" />
                        <button class="btn btn-primary">Filtrar</button>
                        <button
                          type="button"
                          name=""
                          id=""
                          class="btn btn-danger"
                        >
                          Limpar Filtro
                        </button>
                      </p>
                    </form>
                  </div>

                  <div class="card-block table-border-style">
                    <div class="table-responsive">
                      <table class="table table-hover" id="table-comissoes">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Credor</th>
                            <th>Pagador</th>
                            <th>Data Efetuada</th>
                            <th>Valor Creditado</th>
                            <th>Valor Debitado</th>
                            <th>Descricao</th>
                          </tr>
                        </thead>
                        <tbody>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header">
                    <h5>Credito</h5>
                    <form action="" method="post">
                      {% csrf_token %}
                      <p>
                        filtrar de
                        <input
                          type="date"
                          name="data-inicio"
                          id="data-inicio"
                        />
                        até
                        <input type="date" name="data-fim" id="data-fim" />
                        <button class="btn btn-primary">Filtrar</button>
                        <button
                          type="button"
                          name=""
                          id=""
                          class="btn btn-danger"
                        >
                          Limpar Filtro
                        </button>
                      </p>
                    </form>
                    <form method="POST" class="form w-100" action="{% url 'home:criar_novo_cadastro_de_credito_e_debito' %}">
                      {% csrf_token %}
                      <input required type="text" name="credor" class="form-control" placeholder="ID do Credor">
                      <input required type="text" name="pagador" class="form-control" placeholder="Id da Pessoa a ser Debitada">
                      <input required type="number" name="valor" class="form-control" placeholder="Valor a ser Creditado">
                      <input required type="date" name="data-credito" class="form-control" id="data-credito" placeholder="Data a ser creditada">
                      <input type="text" name="descricao" class="form-control" placeholder="Descrição do Credito">
                      <button class="btn btn-success" type="submit">Novo Credito</button>
                    </form>
                  </div>

                  <div class="card-block table-border-style">
                    <div class="table-responsive">
                      <table class="table table-hover" id="table-comissoes">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>ID do Credor</th>
                            <th>Nome do Credor</th>
                            <th>Data Creditado</th>
                            <th>Dia 1</th>
                            <th>Total Credito</th>
                          </tr>
                        </thead>
                        <tbody>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>


                <div class="card">
                  <div class="card-header">
                    <h5>Debito</h5>
                    <form action="" method="post">
                      {% csrf_token %}
                      <p>
                        filtrar de
                        <input
                          type="date"
                          name="data-inicio"
                          id="data-inicio"
                        />
                        até
                        <input type="date" name="data-fim" id="data-fim" />
                        <button class="btn btn-primary">Filtrar</button>
                        <button
                          type="button"
                          name=""
                          id=""
                          class="btn btn-danger"
                        >
                          Limpar Filtro
                        </button>
                      </p>
                    </form>
                    <form action="{% url 'home:criar_nova_taxa' %}" method="post" class="w-100">
                      {% csrf_token %}
                      <input required class="form-control" type="number" name="id-cliente" placeholder="ID Cliente">
                      <input required class="form-control" type="number" name="taxas" placeholder="Taxas">
                      <input required class="form-control" type="text" name="tipo" placeholder="Tipo">
                      <input required type="date" class="form-control" name="data-taxa" placeholder="Data da Taxa">
                      <input class="form-control" type="text" name="descricao-taxa" placeholder="Descrição da Taxa">
                      <button class="btn btn-primary" type="submit">Nova taxa</button>
                    </form>
                  </div>

                  <div class="card-block table-border-style">
                    <div class="table-responsive">
                      <table class="table table-hover" id="table-comissoes">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>ID do Pagado</th>
                            <th>Pagador</th>
                            <th>Data Debitada</th>
                            <th>Total Debito</th>
                          </tr>
                        </thead>
                        <tbody>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>


                <div class="card">
                  <div class="card-header">
                    <h5>Taxas</h5>
                    <form action="" method="post">
                      {% csrf_token %}
                      <p>
                        filtrar de
                        <input
                          type="date"
                          name="data-inicio"
                          id="data-inicio"
                        />
                        até
                        <input type="date" name="data-fim" id="data-fim" />
                        <button class="btn btn-primary">Filtrar</button>
                        <button
                          type="button"
                          name=""
                          id=""
                          class="btn btn-danger"
                        >
                          Limpar Filtro
                        </button>
                      </p>
                    </form>
                    <form action="{% url 'home:criar_nova_taxa' %}" method="post" class="w-100">
                      {% csrf_token %}
                      <input required class="form-control" type="number" name="id-cliente" placeholder="ID Cliente">
                      <input required class="form-control" type="number" name="taxas" placeholder="Taxas">
                      <input required class="form-control" type="text" name="tipo" placeholder="Tipo">
                      <input required type="date" class="form-control" name="data-taxa" placeholder="Data da Taxa">
                      <input class="form-control" type="text" name="descricao-taxa" placeholder="Descrição da Taxa">
                      <button class="btn btn-primary" type="submit">Nova taxa</button>
                    </form>
                  </div>

                  <div class="card-block table-border-style">
                    <div class="table-responsive">
                      <table class="table table-hover" id="table-comissoes">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Taxas (Cliente)</th>
                            <th>Data Taxa</th>
                            <th>Tipo</th>
                            <th>Valor da Taxa</th>
                            <th>Descricao da Taxa</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for taxa in taxas %}
                            <tr>
                              <th>{{forloop.counter}}</th>
                              <th>{{taxa.cliente}}</th>
                              <th>{{taxa.dt_taxa}}</th>
                              <th>{{taxa.tipo}}</th>
                              <th>R$:{{taxa.taxas|intcomma}}</th>
                              <th>{{taxa.descricao}}</th>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                
                


                <div class="card">
                  <div class="card-header">
                    <h5>Repasse Retido</h5>
                    <form action="" method="post">
                      {% csrf_token %}
                      <p>
                        filtrar de
                        <input
                          type="date"
                          name="data-inicio"
                          id="data-inicio"
                        />
                        até
                        <input type="date" name="data-fim" id="data-fim" />
                        <button class="btn btn-primary">Filtrar</button>
                        <button
                          type="button"
                          name=""
                          id=""
                          class="btn btn-danger"
                        >
                          Limpar Filtro
                        </button>
                      </p>
                    </form>
                    <form action="{% url 'home:criar_novo_repasse_retido' %}" method="post" class="w-100">
                      {% csrf_token %}
                      <input required class="form-control" type="number" name="id-cliente" placeholder="ID Cliente">
                      <input required class="form-control" type="number" name="valor" placeholder="valor">
                      <input required class="form-control" type="text" name="tipo" placeholder="Tipo">
                      <input required type="date" class="form-control" name="data-repasse-retido" placeholder="Repasse Retido">
                      <button class="btn btn-warning" type="submit">Novo Repasse Retido</button>
                    </form>
                  </div>

                  <div class="card-block table-border-style">
                    <div class="table-responsive">
                      <table class="table table-hover" id="table-comissoes">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Cliente</th>
                            <th>Valor Repasse Retido</th>
                            <th>Data Repasse Retido</th>
                            <th>Tipo</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for repasse_retido in repasses_retidos %}
                            <tr>
                              <th>{{forloop.counter}}</th>
                              <th>{{repasse_retido.cliente}}</th>
                              <th>{{repasse_retido.vlr_rep_retido}}</th>
                              <th>{{repasse_retido.dt_rep_retido}}</th>
                              <th>{{repasse_retido.tipo}}</th>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
  $(document).ready(function () {
    $("#table-comissoes").DataTable();
    //Atribua o valor do campo data-credito para ter o valor da data atual
    $("#data-credito").datepicker({
      format: "dd/mm/yyyy",
    })
  });

  
</script>
{% endblock javascripts %}
