{% extends "layouts/base.html" %} {% block title %} UI Tables {% endblock %} 
{% load utils %} {% load humanize %} {% load static %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<!-- [ Main Content ] start -->
<section class="pcoded-main-container">
  <div class="pcoded-wrapper">
    <div class="pcoded-content">
      <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
          <div class="page-block">
            <div class="row align-items-center">
              <div class="col-md-12">
                <div class="page-header-title">
                  <h5 class="m-b-10">Bootstrap Basic Tables</h5>
                </div>
                <ul class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="/"><i class="feather icon-home"></i></a>
                  </li>
                  <li class="breadcrumb-item"><a href="#!">Tables</a></li>
                  <li class="breadcrumb-item">
                    <a href="javascript:">Basic Tables</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
          <div class="page-wrapper">
            <!-- [ Main Content ] start -->
            <div class="row">
              <!-- [ Hover-table ] start -->
              <div class="col-xl-12">
                <h1>Credito & Debito</h1>
                <div class="card">
                  <div class="card-header">
                    <h5>Tabela Credito</h5>
                    <form action="" method="post">
                      {% csrf_token %}
                      <p>
                        filtrar de
                        <input
                          type="date"
                          name="data-inicio"
                          id="data-inicio"
                        />
                        até
                        <input type="date" name="data-fim" id="data-fim" />
                        <button class="btn btn-primary">Filtrar</button>
                        <button
                          type="button"
                          name=""
                          id=""
                          class="btn btn-danger"
                        >
                          Limpar Filtro
                        </button>
                      </p>
                    </form>
                    <form method="POST" class="form w-50" action="{% url 'home:criar_novo_cadastro_de_credito_e_debito' %}">
                      {% csrf_token %}
                      <input required type="text" name="credor" class="form-control w-50" placeholder="ID do Credor">
                      <input required type="text" name="pagador" class="form-control w-50" placeholder="Id da Pessoa a ser Debitada">
                      <input required type="number" name="valor" class="form-control w-50" placeholder="Valor a ser Creditado">
                      <input required type="date" name="data-credito" class="form-control w-50" id="data-credito" placeholder="Data a ser creditada">
                      <input type="descricao" name="descricao" class="form-control w-50" placeholder="Descrição do Credito">
                      <button class="btn btn-success" type="submit">Novo Credito</button>
                    </form>

                    <form action="{% url 'home:criar_nova_taxa' %}" method="post" class="w-50">
                      {% csrf_token %}
                      <input required class="form-control w-50" type="number" name="id-cliente" placeholder="ID Cliente">
                      <input required class="form-control w-50" type="number" name="taxas" placeholder="Taxas">
                      <input required class="form-control w-50" type="text" name="tipo" placeholder="Tipo">
                      <input required type="date" class="form-control w-50" name="data-taxa" placeholder="Data da Taxa">
                      <input class="form-control w-50" type="text" name="descricao-taxa" placeholder="Descrição da Taxa">
                      <button class="btn btn-primary" type="submit">Nova taxa</button>
                    </form>
                    <form action="{% url 'home:criar_novo_repasse_retido' %}" method="post" class="w-50">
                      {% csrf_token %}
                      <input required class="form-control w-50" type="number" name="id-cliente" placeholder="ID Cliente">
                      <input required class="form-control w-50" type="number" name="valor" placeholder="valor">
                      <input required class="form-control w-50" type="text" name="tipo" placeholder="Tipo">
                      <input required type="date" class="form-control w-50" name="data-repasse-retido" placeholder="Repasse Retido">
                      <button class="btn btn-warning" type="submit">Novo Repasse Retido</button>
                    </form>

                    {% comment %} <form method="POST" class="form w-100" action="{% url 'home:criar_novo_cadastro_de_credito_e_debito' %}">
                      {% csrf_token %}
                      <input type="text" name="credor" class="form-control w-25" placeholder="ID do Credor">
                      <input type="text" name="pagador" class="form-control w-25" placeholder="Id da Pessoa a ser Debitada">
                      <input type="number" name="valor" class="form-control w-25" placeholder="Valor a ser Creditado">
                      <input type="date" name="data-credito" class="form-control w-25" id="data-credito" placeholder="Data a ser creditada">
                      <input type="descricao" name="descricao" class="form-control w-25" placeholder="Descrição do Credito">
                      <button class="btn btn-primary" type="submit">Novo Credito</button>
                    </form> {% endcomment %}
                  </div>
                  <div class="card-block table-border-style">
                    <div class="table-responsive">
                      <table class="table table-hover" id="table-comissoes">
                        <thead>
                          <tr>
                            <th>id Vendedor</th>
                            <th>Nome Vendedor</th>
                            <th>Recebedor</th>
                            <th>Parcelas</th>
                            <th>Pagador</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for querie in sql %}
                          <tr>
                            <th>{{ querie.0 }}</th>
                            <th>{{ querie.1 }}</th>
                            <th>Recebedor</th>
                            <th>{{querie.2}}</th>
                            <th>Pagador</th>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                {% comment %} OUTRA TABELA {% endcomment %}
                <div class="card">
                  <div class="card-header">
                    <h5>Tabela Debito & Credito</h5>
                    <form action="" method="post">
                      {% csrf_token %}
                      <p>
                        filtrar de
                        <input
                          type="date"
                          name="data-inicio"
                          id="data-inicio"
                        />
                        até
                        <input type="date" name="data-fim" id="data-fim" />
                        <button class="btn btn-primary">Filtrar</button>
                        <button
                          type="button"
                          name=""
                          id=""
                          class="btn btn-danger"
                        >
                          Limpar Filtro
                        </button>
                      </p>
                    </form>
                    <span class="d-block m-t-5"
                      >use class <code>table-hover</code> inside table
                      element</span
                    >
                  </div>

                  <div class="card-block table-border-style">
                    <div class="table-responsive">
                      <table class="table table-hover" id="table-comissoes">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Credor</th>
                            <th>Pagador</th>
                            <th>Data Efetuada</th>
                            <th>Valor Creditado</th>
                            <th>Valor Debitado</th>
                            <th>Descricao</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for querie in creditos_e_debitos_sql %}
                            <tr>
                              <th>{{forloop.counter}}</th>
                              <th>{{querie.0}}</th>
                              <th>{{querie.1}}</th>
                              <th>{{querie.2}}</th>
                              <th>{{querie.3}}</th>
                              <th>{{querie.4}}</th>
                              <th>{{querie.5}}</th>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header">
                    <h5>Credito</h5>
                    <form action="" method="post">
                      {% csrf_token %}
                      <p>
                        filtrar de
                        <input
                          type="date"
                          name="data-inicio"
                          id="data-inicio"
                        />
                        até
                        <input type="date" name="data-fim" id="data-fim" />
                        <button class="btn btn-primary">Filtrar</button>
                        <button
                          type="button"
                          name=""
                          id=""
                          class="btn btn-danger"
                        >
                          Limpar Filtro
                        </button>
                      </p>
                    </form>
                  </div>

                  <div class="card-block table-border-style">
                    <div class="table-responsive">
                      <table class="table table-hover" id="table-comissoes">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>ID do Credor</th>
                            <th>Nome do Credor</th>
                            <th>Data Creditado</th>
                            <th>Dia 1</th>
                            <th>Dia 2</th>
                            <th>Dia 3</th>
                            <th>Dia 4</th>
                            <th>Dia 5</th>
                            <th>Dia 6</th>
                            <th>Dia 7</th>
                            <th>Dia 8</th>
                            <th>Dia 9</th>
                            <th>Dia 10</th>
                            <th>Dia 11</th>
                            <th>Dia 12</th>
                            <th>Dia 13</th>
                            <th>Dia 14</th>
                            <th>Dia 15</th>
                            <th>Dia 16</th>
                            <th>Dia 17</th>
                            <th>Dia 18</th>
                            <th>Dia 19</th>
                            <th>Dia 20</th>
                            <th>Dia 21</th>
                            <th>Dia 22</th>
                            <th>Dia 23</th>
                            <th>Dia 24</th>
                            <th>Dia 25</th>
                            <th>Dia 26</th>
                            <th>Dia 27</th>
                            <th>Dia 28</th>
                            <th>Dia 29</th>
                            <th>Dia 30</th>
                            <th>Dia 31</th>
                            <th>Total Credito</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for querie in creditos %}
                          <tr>
                            <th>{{forloop.counter}}</th>
                            <td>{{querie.0}}</td>
                            <td>{{querie.1}}</td>
                            <td>{{querie.2}}</td>
                            <td>{{querie.3}}</td>
                            <td>{{querie.4}}</td>
                            <td>{{querie.5}}</td>
                            <td>{{querie.6}}</td>
                            <td>{{querie.7}}</td>
                            <td>{{querie.8}}</td>
                            <td>{{querie.9}}</td>
                            <td>{{querie.10}}</td>
                            <td>{{querie.11}}</td>
                            <td>{{querie.12}}</td>
                            <td>{{querie.13}}</td>
                            <td>{{querie.14}}</td>
                            <td>{{querie.15}}</td>
                            <td>{{querie.16}}</td>
                            <td>{{querie.17}}</td>
                            <td>{{querie.18}}</td>
                            <td>{{querie.19}}</td>
                            <td>{{querie.20}}</td>
                            <td>{{querie.21}}</td>
                            <td>{{querie.22}}</td>
                            <td>{{querie.23}}</td>
                            <td>{{querie.24}}</td>
                            <td>{{querie.25}}</td>
                            <td>{{querie.26}}</td>
                            <td>{{querie.27}}</td>
                            <td>{{querie.28}}</td>
                            <td>{{querie.29}}</td>
                            <td>{{querie.30}}</td>
                            <td>{{querie.31}}</td>
                            <td>{{querie.32}}</td>
                            <td>{{querie.33}}</td>
                            <td>{{querie.34}}</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>


                <div class="card">
                  <div class="card-header">
                    <h5>Debito</h5>
                    <form action="" method="post">
                      {% csrf_token %}
                      <p>
                        filtrar de
                        <input
                          type="date"
                          name="data-inicio"
                          id="data-inicio"
                        />
                        até
                        <input type="date" name="data-fim" id="data-fim" />
                        <button class="btn btn-primary">Filtrar</button>
                        <button
                          type="button"
                          name=""
                          id=""
                          class="btn btn-danger"
                        >
                          Limpar Filtro
                        </button>
                      </p>
                    </form>
                  </div>

                  <div class="card-block table-border-style">
                    <div class="table-responsive">
                      <table class="table table-hover" id="table-comissoes">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>ID do Pagado</th>
                            <th>Pagador</th>
                            <th>Data Debitada</th>
                            <th>Dia 1</th>
                            <th>Dia 2</th>
                            <th>Dia 3</th>
                            <th>Dia 4</th>
                            <th>Dia 5</th>
                            <th>Dia 6</th>
                            <th>Dia 7</th>
                            <th>Dia 8</th>
                            <th>Dia 9</th>
                            <th>Dia 10</th>
                            <th>Dia 11</th>
                            <th>Dia 12</th>
                            <th>Dia 13</th>
                            <th>Dia 14</th>
                            <th>Dia 15</th>
                            <th>Dia 16</th>
                            <th>Dia 17</th>
                            <th>Dia 18</th>
                            <th>Dia 19</th>
                            <th>Dia 20</th>
                            <th>Dia 21</th>
                            <th>Dia 22</th>
                            <th>Dia 23</th>
                            <th>Dia 24</th>
                            <th>Dia 25</th>
                            <th>Dia 26</th>
                            <th>Dia 27</th>
                            <th>Dia 28</th>
                            <th>Dia 29</th>
                            <th>Dia 30</th>
                            <th>Dia 31</th>
                            <th>Total Debito</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for querie in debitos %}
                          <tr>
                            <th>{{forloop.counter}}</th>
                            <td>{{querie.0}}</td>
                            <td>{{querie.1}}</td>
                            <td>{{querie.2}}</td>
                            <td>{{querie.3}}</td>
                            <td>{{querie.4}}</td>
                            <td>{{querie.5}}</td>
                            <td>{{querie.6}}</td>
                            <td>{{querie.7}}</td>
                            <td>{{querie.8}}</td>
                            <td>{{querie.9}}</td>
                            <td>{{querie.10}}</td>
                            <td>{{querie.11}}</td>
                            <td>{{querie.12}}</td>
                            <td>{{querie.13}}</td>
                            <td>{{querie.14}}</td>
                            <td>{{querie.15}}</td>
                            <td>{{querie.16}}</td>
                            <td>{{querie.17}}</td>
                            <td>{{querie.18}}</td>
                            <td>{{querie.19}}</td>
                            <td>{{querie.20}}</td>
                            <td>{{querie.21}}</td>
                            <td>{{querie.22}}</td>
                            <td>{{querie.23}}</td>
                            <td>{{querie.24}}</td>
                            <td>{{querie.25}}</td>
                            <td>{{querie.26}}</td>
                            <td>{{querie.27}}</td>
                            <td>{{querie.28}}</td>
                            <td>{{querie.29}}</td>
                            <td>{{querie.30}}</td>
                            <td>{{querie.31}}</td>
                            <td>{{querie.32}}</td>
                            <td>{{querie.33}}</td>
                            <td>{{querie.34}}</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>


                <div class="card">
                  <div class="card-header">
                    <h5>Taxas</h5>
                    <form action="" method="post">
                      {% csrf_token %}
                      <p>
                        filtrar de
                        <input
                          type="date"
                          name="data-inicio"
                          id="data-inicio"
                        />
                        até
                        <input type="date" name="data-fim" id="data-fim" />
                        <button class="btn btn-primary">Filtrar</button>
                        <button
                          type="button"
                          name=""
                          id=""
                          class="btn btn-danger"
                        >
                          Limpar Filtro
                        </button>
                      </p>
                    </form>

                    
                    <span class="d-block m-t-5"
                      >use class <code>table-hover</code> inside table
                      element</span
                    >
                  </div>

                  <div class="card-block table-border-style">
                    <div class="table-responsive">
                      <table class="table table-hover" id="table-comissoes">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Taxas (Cliente)</th>
                            <th>Data Taxa</th>
                            <th>Tipo</th>
                            <th>Valor da Taxa</th>
                            <th>Descricao da Taxa</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for taxa in taxas %}
                            <tr>
                              <th>{{forloop.counter}}</th>
                              <th>{{taxa.cliente}}</th>
                              <th>{{taxa.dt_taxa}}</th>
                              <th>{{taxa.tipo}}</th>
                              <th>R$:{{taxa.taxas|intcomma}}</th>
                              <th>{{taxa.descricao}}</th>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
  $(document).ready(function () {
    $("#table-comissoes").DataTable();
    //Atribua o valor do campo data-credito para ter o valor da data atual
    $("#data-credito").datepicker({
      format: "dd/mm/yyyy",
    })
  });

  
</script>
{% endblock javascripts %}
