{% extends "layouts/base.html" %} {% block title %} UI Tables {% endblock %} 
{% load utils %} {% load humanize %} {% load static %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<!-- [ Main Content ] start -->
<section class="pcoded-main-container">
  <div class="pcoded-wrapper">
    <div class="pcoded-content">
      <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
          <div class="page-block">
            <div class="row align-items-center">
              <div class="col-md-12">
                <div class="page-header-title">
                  <h5 class="m-b-10">Boletos Avulso</h5>
                </div>
                <ul class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="/"><i class="feather icon-home"></i></a>
                  </li>
                  <li class="breadcrumb-item"><a href="#!">Tabelas & Formularios</a></li>
                  <li class="breadcrumb-item">
                    <a href="javascript:">Boletos Avulso</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
          <div class="page-wrapper">
            <!-- [ Main Content ] start -->
            <div class="row">
              <!-- [ Hover-table ] start -->
              <div class="col-xl-12">
                <div class="card">
                  <div class="card-header">
                    <h5>Boletos Avulso</h5>
                    <form action="" method="post">
                      {% csrf_token %}
                      <p>
                        filtrar de
                        <input
                          type="date"
                          name="data-inicio"
                          id="data-inicio"
                        />
                        até
                        <input type="date" name="data-fim" id="data-fim" />
                        <button class="btn btn-primary">Filtrar</button>
                        <button
                          type="button"
                          name=""
                          id=""
                          class="btn btn-danger"
                        >
                          Limpar Filtro
                        </button>
                      </p>
                    </form>
                  </div>
                  <div class="card-block table-border-style">
                    <div class="table-responsive">
                      <table class="table table-hover" id="table-comissoes">
                        <thead>
                          <tr>
                            <th>id Contrato</th>
                            <th>Vendedor</th>
                            <th>Comprador</th>
                            <th>Nu Parcela</th>
                            <th>Valor Parcela</th>
                            <th>Valor Pagamento</th>
                            <th>Data Vencimento</th>
                            <th>Data Credito</th>
                            <th>Data Processamento</th>
                            <th>Banco</th>
                            <th>Parcela primeiro pagto</th>
                            <th>Total parcelas</th>
                            <th>Total quitadas</th>
                            <th>Evento</th>
                            <th>Produto</th>
                            <th>Ações</th>
                          </tr>
                        </thead>
                        <form action=".">
                          <tbody>
                            {% for querie in boletos_avulso %}
                              <tr>
                                <th><input type="text" value="{{querie.0}}"></th>
                                <th><input type="text" value="{{querie.1}}"></th>
                                <th>{{querie.2}}</th>
                                <th>{{querie.3}}</th>
                                <th>{{querie.4}}</th>
                                <th>{{querie.5}}</th>
                                <th>{{querie.6}}</th>
                                <th>{{querie.7}}</th>
                                <th>{{querie.8}}</th>
                                <th>{{querie.9}}</th>
                                <th>{{querie.10}}</th>
                                <th>{{querie.11}}</th>
                                <th>{{querie.12}}</th>
                                <th>{{querie.13}}</th>
                                <th>{{querie.14}}</th>
                                <th>{{querie.15}}</th>
                                <th><button type="submit" class="btn btn-sm btn-success">Enviar </button></th>
                              </tr>
                            {% endfor %}
                          </tbody>
                        </form>
                      </table>
                    </div>
                  </div>
                </div>
                {% comment %} OUTRA TABELA {% endcomment %}           
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="{% static 'assets/js/boletos_avulso.js' %}"></script>
<script>
  $(document).ready(function () {
    $("#table-comissoes").DataTable();
    //Atribua o valor do campo data-credito para ter o valor da data atual
    $("#data-credito").datepicker({
      format: "dd/mm/yyyy",
    })
  });
</script>
{% endblock javascripts %}
