{% extends "layouts/base.html" %} 
{% block title %} UI Forms {% endblock %}
{% load widget_tweaks %}
{% load utils %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %} 
{% block content %}

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
  <div class="pcoded-wrapper">
    <div class="pcoded-content">
      <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
          <div class="page-block">
            <div class="row align-items-center">
              <div class="col-md-12">
                
                <div class="page-header-title">
                  <h5 class="m-b-10">Repasses Retidos</h5>
                </div>
                <ul class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="/"><i class="feather icon-home"></i></a>
                  </li>
                  <li class="breadcrumb-item">
                    <a href="javascript:">Tabelas & Formularios</a>
                  </li>
                  <li class="breadcrumb-item">
                    <a href="javascript:">Repasses Retidos</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-12">
          <div class="card">
            <div class="card-header">
              <h5>Repasse Retido</h5>
              <form action="" method="post">
                {% csrf_token %}
                <p>
                  filtrar de
                  <input
                    type="date"
                    name="data-inicio"
                    id="data-inicio"
                  />
                  até
                  <input type="date" name="data-fim" id="data-fim" />
                  <button class="btn btn-primary" type="submit" name="filtrar-repasse-retido">Filtrar</button>
                  <button
                    type="button"
                    name=""
                    id=""
                    class="btn btn-danger"
                  >
                    Limpar Filtro
                  </button>
                </p>
              </form>
              <form method="POST" class="form w-100">
                {% csrf_token %}
                <input required type="text" name="cliente" class="form-control" placeholder="ID Cliente">
                <input required type="number" name="valor" class="form-control" placeholder="Valor do Repasse Retido">
                <input required type="date" name="data-repasse-retido" class="form-control" id="data-taxa" placeholder="Data do Repasse Retido">
                <input type="text" name="tipo" class="form-control" placeholder="Tipo do Repasse Retido">
                <button class="btn btn-success" type="submit" name="novo-repasse-retido">Novo Repasse Retido</button>
              </form>
            </div>

            <div class="card-block table-border-style">
              <div class="table-responsive">
                <table class="table table-hover" id="table-repasse-retido">
                  <thead>
                    <tr>
                      <th>Cliente ID</th>
                      <th>Nome</th>
                      {% for dia in dias %}
                      <th>Dia {{dia}}</th>
                      {% endfor %}
                      <th>Total Taxa</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{tbody|safe}}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>    
      </div>
    </div>
  </div>
</div>
<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
  $(document).ready(function(){
    $('#table-repasse-retido').DataTable();
  })
</script>
{% endblock javascripts %}
