{% extends "layouts/base.html" %} {% block title %} UI Tables {% endblock %} 
{% load utils %} {% load humanize %} {% load static %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<!-- [ Main Content ] start -->
<section class="pcoded-main-container">
  <div class="pcoded-wrapper">
    <div class="pcoded-content">
      <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
          <div class="page-block">
            <div class="row align-items-center">
              <div class="col-md-12">
                <div class="page-header-title">
                  <h5 class="m-b-10">Bootstrap Basic Tables</h5>
                </div>
                <ul class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="/"><i class="feather icon-home"></i></a>
                  </li>
                  <li class="breadcrumb-item"><a href="#!">Tables</a></li>
                  <li class="breadcrumb-item">
                    <a href="javascript:">Basic Tables</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
          <div class="page-wrapper">
            <!-- [ Main Content ] start -->
            <div class="row">
              <!-- [ Hover-table ] start -->
              <div class="col-xl-12">
                <h1>Credito & Debito</h1>
                <div class="card">
                  <div class="card-header">
                    <h5>Tabela Credito</h5>
                    <form action="" method="post">
                      {% csrf_token %}
                      <p>
                        filtrar de
                        <input
                          type="date"
                          name="data-inicio"
                          id="data-inicio"
                        />
                        até
                        <input type="date" name="data-fim" id="data-fim" />
                        <button class="btn btn-primary">Filtrar</button>
                        <button
                          type="button"
                          name=""
                          id=""
                          class="btn btn-danger"
                        >
                          Limpar Filtro
                        </button>
                      </p>
                    </form>
                    <form method="POST" class="form w-100" action="{% url 'home:criar_novo_cadastro_de_credito_e_debito' %}">
                      {% csrf_token %}
                      <input type="text" name="credor" class="form-control w-25" placeholder="ID do Credor">
                      <input type="text" name="pagador" class="form-control w-25" placeholder="Id da Pessoa a ser Debitada">
                      <input type="number" name="valor" class="form-control w-25" placeholder="Valor a ser Creditado">
                      <input type="date" name="data-credito" class="form-control w-25" id="data-credito" placeholder="Data a ser creditada">
                      <input type="descricao" name="descricao" class="form-control w-25" placeholder="Descrição do Credito">
                      <button class="btn btn-primary" type="submit">Novo Credito</button>
                    </form>
                  </div>
                  <div class="card-block table-border-style">
                    <div class="table-responsive">
                      <table class="table table-hover" id="table-comissoes">
                        <thead>
                          <tr>
                            <th>id Vendedor</th>
                            <th>Nome Vendedor</th>
                            <th>Recebedor</th>
                            <th>Parcelas</th>
                            <th>Pagador</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for querie in sql %}
                          <tr>
                            <th>{{ querie.0 }}</th>
                            <th>{{ querie.1 }}</th>
                            <th>Recebedor</th>
                            <th>{{querie.2}}</th>
                            <th>Pagador</th>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                {% comment %} OUTRA TABELA {% endcomment %}
                <div class="card">
                  <div class="card-header">
                    <h5>Tabela Debito & Credito</h5>
                    <form action="" method="post">
                      {% csrf_token %}
                      <p>
                        filtrar de
                        <input
                          type="date"
                          name="data-inicio"
                          id="data-inicio"
                        />
                        até
                        <input type="date" name="data-fim" id="data-fim" />
                        <button class="btn btn-primary">Filtrar</button>
                        <button
                          type="button"
                          name=""
                          id=""
                          class="btn btn-danger"
                        >
                          Limpar Filtro
                        </button>
                      </p>
                    </form>
                    <span class="d-block m-t-5"
                      >use class <code>table-hover</code> inside table
                      element</span
                    >
                  </div>

                  <div class="card-block table-border-style">
                    <div class="table-responsive">
                      <table class="table table-hover" id="table-comissoes">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Credor</th>
                            <th>Pagador</th>
                            <th>Data Efetuada</th>
                            <th>Valor Creditado</th>
                            <th>Valor Debitado</th>
                            <th>Descricao</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for querie in creditos_e_debitos_sql %}
                            <tr>
                              <th>{{forloop.counter}}</th>
                              <th>{{querie.0}}</th>
                              <th>{{querie.1}}</th>
                              <th>{{querie.2}}</th>
                              <th>{{querie.3}}</th>
                              <th>{{querie.4}}</th>
                              <th>{{querie.5}}</th>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header">
                    <h5>Credito</h5>
                    <form action="" method="post">
                      {% csrf_token %}
                      <p>
                        filtrar de
                        <input
                          type="date"
                          name="data-inicio"
                          id="data-inicio"
                        />
                        até
                        <input type="date" name="data-fim" id="data-fim" />
                        <button class="btn btn-primary">Filtrar</button>
                        <button
                          type="button"
                          name=""
                          id=""
                          class="btn btn-danger"
                        >
                          Limpar Filtro
                        </button>
                      </p>
                    </form>
                    <span class="d-block m-t-5"
                      >use class <code>table-hover</code> inside table
                      element</span
                    >
                  </div>

                  <div class="card-block table-border-style">
                    <div class="table-responsive">
                      <table class="table table-hover" id="table-comissoes">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Credor</th>
                            <th>Pagador</th>
                            <th>Data Efetuada</th>
                            <th>Valor Creditado</th>
                            <th>Valor Debitado</th>
                            <th>Descricao</th>
                          </tr>
                        </thead>
                        <tbody>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>


                <div class="card">
                  <div class="card-header">
                    <h5>Debito</h5>
                    <form action="" method="post">
                      {% csrf_token %}
                      <p>
                        filtrar de
                        <input
                          type="date"
                          name="data-inicio"
                          id="data-inicio"
                        />
                        até
                        <input type="date" name="data-fim" id="data-fim" />
                        <button class="btn btn-primary">Filtrar</button>
                        <button
                          type="button"
                          name=""
                          id=""
                          class="btn btn-danger"
                        >
                          Limpar Filtro
                        </button>
                      </p>
                    </form>
                    <span class="d-block m-t-5"
                      >use class <code>table-hover</code> inside table
                      element</span
                    >
                  </div>

                  <div class="card-block table-border-style">
                    <div class="table-responsive">
                      <table class="table table-hover" id="table-comissoes">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Credor</th>
                            <th>Pagador</th>
                            <th>Data Efetuada</th>
                            <th>Valor Creditado</th>
                            <th>Valor Debitado</th>
                            <th>Descricao</th>
                          </tr>
                        </thead>
                        <tbody>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
  $(document).ready(function () {
    $("#table-comissoes").DataTable();
    //Atribua o valor do campo data-credito para ter o valor da data atual
    $("#data-credito").datepicker({
      format: "dd/mm/yyyy",
    })
  });

  
</script>
{% endblock javascripts %}
